/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200;1,400&display=swap');

/* BASE */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: .938rem;
    color: black;
    background-color: rgba(57, 57, 168, 0.555);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

